@model IList<XingAo.Software.ConfigCenter.MenuModel>
<div class="accordion" fillSpace="sideBar">
    <div class="accordionHeader">
        <h2><span>Folder</span>@ViewData["MenuName"]</h2>
    </div>
    <div class="accordionContent">
        <ul class="tree treeFolder expand">
        @if (ViewData["SubMenuModel"] == null)
        {
            ViewData["SubMenuModel"] = ViewData["MenuModel"] as IList<XingAo.Software.ConfigCenter.MenuModel>;
        }
        @foreach (var m in ViewData["SubMenuModel"] as IList<XingAo.Software.ConfigCenter.MenuModel>)
        {
            if (@m.Target == "dialog")
            {
		    <li><a href="@m.Url?rel=@m.Rel" target="@m.Target" rel="@m.Rel" title="@m.NavName">@m.NavName</a></li>
            }
            else
            {
		    <li><a href="@m.Url?rel=@m.Rel" target="@m.Target" rel="@m.Rel" title="@m.NavName" width="@m.Width" height="@m.Height">@m.NavName</a></li>
            }
        }
        </ul>
    </div>

</div>
