@model IList<XingAo.Software.UserCenter.Model.UserModel>
           
<div class="pageHeader">
@using (Html.BeginForm()) {
	<div class="searchBar">
		<table class="searchContent">
			<tr>
				<td>
					用户名：<input type="text" name="keyString" value="" />
				</td>
			</tr>
		</table>
		<div class="subBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">查询</button></div></div></li>
			</ul>
		</div>
	</div>
}
    <div class="pageContent">
	    <div class="panelBar">
		    <ul class="toolBar">
			    <li><a class="edit" href="UserCenter/User/ChangePassword?id={sid}&rel=@Request["rel"]" target="dialog" title="修改密码" rel="@Request["rel"]_password" warn="请选择一条数据" width="550" height="200"><span>修改密码</span></a></li>
		    </ul>
	    </div>
	    <table class="table" width="100%" layoutH="138">
		    <thead>
			    <tr>
				    <th width="22"><input type="checkbox" group="ids" class="checkboxCtrl"></th>
				    <th width="90">@Html.LabelFor(m=>m.FirstOrDefault().UserName)</th>
                    <th width="100">手机</th>
				    <th width="80">真实姓名</th>
                    <th width="100">积分</th>
				    <th width="60">会员等级</th>
                    <th>邮箱</th>
                    <th width="50" align="center">可用</th>
                    <th width="50" align="center">审核</th>
                    <th width="50" align="center">删除</th>
                    <th width="140">最后登录时间</th>
                    <th width="140">注册时间</th>
                    <th width="80">角色</th>
                    <th width="80">用户组</th>
			    </tr>
		    </thead>
		    <tbody>
            @foreach (var m in Model)
            {
			    <tr target="sid" rel="@m.Id">
				    <td><input name="ids" value="@m.Id" type="checkbox"></td>
				    <td>@m.UserName</td>
                    <td>@m.Phone</td>
				    <td>@m.RealName</td>
				    <td>@m.Point</td>
                    <td>@m.Level</td>	
                    <td><a href="mailto:@m.Email">@m.Email</a></td>
                    <td align="center">@Html.CheckBox("Enable", m.Enable, new { disabled = "disabled" })</td>
                    <td align="center">@Html.CheckBox("Enable", m.Audit, new { disabled = "disabled" })</td>			
                    <td align="center">@Html.CheckBox("Enable", m.IsDel, new { disabled = "disabled" })</td>			
                    <td>@Html.DisplayFor(p=>m.LastLoginTime)</td>
                    <td>@Html.DisplayFor(p=>m.LastLoginTime)</td>
                    <td>@m.Role.Name</td>	
                    <td>@m.Group.Name</td>	
			    </tr>
            }
            </tbody>
	    </table>
        @*分页控件*@
        @{XingAo.Core.Data.Pagination pagination = ViewBag.Pagination; }
        @using (Html.BeginForm("Index", "User", FormMethod.Post, new { @id = "pagerForm" }))
        {
            <input type="hidden" name="pageNum" value="@pagination.PageNum" /><!--【必须】value=1可以写死-->  
            <input type="hidden" name="numPerPage" value="@pagination.NumPerPage" /><!--【可选】每页显示多少条-->
        }
	    <div class="panelBar">
		    <div class="pages">
			    <span>显示</span>
			    <select name="numPerPage" class="combox" onchange="navTabPageBreak({numPerPage:this.value})">
                @{  
                    int[] nums = new int[] { 20, 50, 100, 200 };
                    foreach (var num in nums)
                    {
                        if (Int32.Parse(pagination.NumPerPage.ToString()) == num)
                        {  
                            <option value="@num" selected="selected">@num</option>
                        }
                        else
                        {
                            <option value="@num">@num</option>
                        }
                    }
                }
			    </select>
			    <span>条，共 @pagination.TotalCount 条，每页显示 @pagination.NumPerPage 条，当前第 @pagination.PageNum/@pagination.PageCount 页</span>
		    </div>
            <div class="pagination" targetType="navTab" totalCount="@pagination.TotalCount" numPerPage="@pagination.NumPerPage" 
                pageNumShown="@pagination.PageNumShown" currentPage="@pagination.PageNum"></div>
	    </div>
    </div>
</div>
